@font-face {
   font-family: nunito_sans;
   src: url(fonts/Nunito_Sans/static/NunitoSans_7pt-Regular.ttf);
}

body {
   margin: 0;
   overflow: hidden;
}

.main_div {
   display: flex;
}

.ilustration_img {
   width: 985px;
   height: 100vh;
}

.right_div {
   width: 420px;
   height: 505px;
   border: 1px solid aqua;
   margin-top: 36px;
}

.icon_flag_img {
   width: 72px;
   height: 72px;
   /* margin-top: 179px;
   margin-left: 140px; */
}

.second_div {
   margin-left: 140px;
   margin-top: 90px;
}

.title {
   font-family: nunito_sans;
   font-size: 36px;
   line-height: 49.1px;
   font-weight: 700;
   color: #525252;
   margin-bottom: 0;
}

.paragraph {
   font-family: nunito_sans;
   font-size: 16px;
   line-height: 21.82px;
   font-weight: 400;
   color: #525252;
   margin: 0;
}

.sign_in_button {
   width: 420px;
   height: 45px;
   background-color: white;
   font-family: nunito_sans;
   font-size: 14px;
   line-height: 19.1px;
   font-weight: 700;
   color: #525252;
   margin-top: 32px;
   background-image: url(gmail_icon.png);
   background-repeat: no-repeat;
   background-position: 100px center;
   text-align: center;
   border: 1px solid #E8E8E8;
   border-radius: 5px;
}

.paragraph2 {
   font-family: nunito_sans;
   font-size: 12px;
   line-height: 16.37px;
   font-weight: 600;
   color: #A1A1A1;
   margin-left: 83px;
   margin-top: 36px;
}

.paragraph_email {
   font-family: nunito_sans;
   font-size: 14px;
   line-height: 19.1px;
   font-weight: 600;
   color: #828282;
   margin-top: 36px;
}

.input_email {
   width: 420px;
   height: 45px;
   /* border: 1px solid #DED2D9; */
   border-radius: 5px;
   /* background-image: url(envelope.png);
   background-repeat: no-repeat;
   background-position: right; */
   padding: 0;
}

.input_password {
   background-image: url(message_icon.png);
   background-position: right;
}